body {
    background-color: rgb(10, 10, 10);
    color: lightyellow;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.7;
    font-family: "PTSans", Arial, sans-serif;
}

/* Start HEADER */
header {
    height: auto;
}

.heading-bar {
    background: rgb(10, 10, 10) url(../images/eveningviewback.jpg) bottom right
        no-repeat;
    background-size: cover;
    height: 180px;
    padding: 0 0 0 0;
    text-shadow: 0px 0px 10px white, 1px 1px 0 black;
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}

.heading-slogan {
    padding: 80px 0 20px 0;
    margin: 0;
}

.heading-bar h1 {
    font-size: 40px;
    font-weight: normal;
    color: orange;
    padding: 0;
    margin: 0;
}

.heading-bar p {
    font-size: 18px;
    font-weight: normal;
    color: orange;
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
}

.site-nav {
    max-width: 960px;
    background-color: rgb(10, 10, 10);
    overflow: hidden;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.site-nav a {
    background: lightyellow linear-gradient(to top, orange, lightyellow);
    float: left;
    width: 80px;
    height: 45px;
    color: rgb(25, 25, 25);
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 0 0px 0 0;
    border-radius: 50% 50% 0 0;
    border-top: 10px solid rgb(10, 10, 10);
    border-right: 10px solid rgb(10, 10, 10);
    border-left: 10px solid rgb(10, 10, 10);
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.3s;
}

.site-nav a:hover {
    background: lightyellow linear-gradient(to top, orange, lightyellow);
    border-top: 5px solid rgb(10, 10, 10);
    border-right: 5px solid rgb(10, 10, 10);
    border-left: 5px solid rgb(10, 10, 10);
    font-size: 16px;
}

.site-nav a.active {
    background: orange linear-gradient(to top, orange, lightyellow);
    border-top: 0px solid rgb(10, 10, 10);
    border-right: 0px solid rgb(10, 10, 10);
    border-left: 0px solid rgb(10, 10, 10);
    font-size: 18px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
}

/* End HEADER */

/* Main Content */

.button-navbar {
    height: 50px;
    margin: 0;
    padding: 0;
}

.buttons {
    padding: 0;
    margin: 0;
}

.buttons li {
    float: left;
    list-style: none;
    margin-right: 20px;
}
.buttons a {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/button_sprites.png);
    text-indent: -9999px;
    background-repeat: no-repeat;
}

.button-home a {
    background-position: 0 0;
}
.button-home a:hover {
    background-position: -50px 0;
}

.button-profile a {
    background-position: 0 -50px;
}
.button-profile a:hover {
    background-position: -50px -50px;
}

.button-settings a {
    background-position: 0 -100px;
}

.button-settings a:hover {
    background-position: -50px -100px;
}

.container {
    height: 100%;
    max-width: 960px;
    min-width: 580px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    /* Unselectable text/items */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

main {
    background: rgb(25, 25, 25);
    border-bottom: 3px solid orange;
}

.main-area {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sidebar {
    text-align: justify;
    float: right;
    display: block;
    width: 34%;
    height: 100%;
    padding: 40px 40px 20px 40px;
    background: radial-gradient(lightyellow, orange);
    color: rgb(10, 10, 10);
    font-size: 12px;
    font-style: italic;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    transition: 0.3s;
}

.sidebar:hover {
    padding: 20px 20px 10px 20px;
    font-size: 14px;
}

.sidebar h4 {
    margin-top: 0;
}

.main-text {
    width: 66%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
}

.main-text p {
    text-align: justify;
    text-indent: 25px;
}

footer {
    padding: 20px 20px 15px 20px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(10, 10, 10);
    color: orange;

    font-size: 80%;
    text-align: center;
}

.img_gal {
    padding: 20px 0 40px 0;
    box-sizing: border-box;
}

img {
    height: 200px;
    transition: 0.3s;
}

img:hover {
    height: 220px;
}

/* START Banner Overlay */
.image-banner img {
    width: 100%;
    height: auto;
}

.image-banner {
    position: relative;
}

.image-banner img {
    display: block;
}

.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 25px;
    color: orange;
    text-shadow: 1px 1px 0 rgb(25, 25, 25);
    background-color: rgba(25, 25, 25, 0.6);
}
/* End Banner Overlay*/

/* FLOAT FIX */
.group:after {
    content: "";
    clear: both;
    display: table;
}
.group {
    zoom: 1;
}
/* END FLOAT FIX */
